/**@import url(http://weloveiconfonts.com/api/?family=entypo);**/
html{
	height: 100%;
	width: 100%;
}
body {
	margin: 0px;
	padding: 0px;
    color: #585858;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.75;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
    
}

h1,h2,h3,h4,h5,h6
{
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
.source
{
		font-family: 'Source Sans Pro', sans-serif;
}
	/*========== DEFAULT BROWSER STYLE==========*/
	/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
	article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video,main{display:block}mark,rp,rt,ruby,summary,time{display:inline}
	a, abbr, acronym, address, applet, article, aside, audio,b, blockquote, big, body,center, canvas, caption, cite, code, command,datalist, dd, del, details, dfn, dl, div, dt, em, embed,fieldset, figcaption, figure, font, footer, form, header, hgroup, html,i, iframe, img, ins,kbd, keygen, legend, li, meter,nav,object, ol, output, pre, progress,q, s, samp, section, small,source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, tdvideo, tt,u, ul, var{
	    /*background: transparent;*/
	    border: 0 none;
	    margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
	    vertical-align: top;
	}
	/*ul,ol
	{
		list-style: none;
	}*/
	ol,ul {
  		padding-left: 30px;
  		    margin: 0 0 2em 0;
	}
	q 
	{
		quotes: none;
	}
	b
	{
		font-weight: bold;
	}
	img{
		vertical-align:top; 
	}
	input:focus, textarea:focus, keygen:focus, select:focus {
		outline-offset:0px;
	}
	input,button{
		outline: none;
		border:0;
	}
	button::-moz-focus-inner{
		border:0;
	}
	hr {
    border: 1px solid #444444;
	}

/*	h1,h2,h3,h4,h6{
		font-family: arial;
	}*/
	h1,h2,h3
	{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	/*==========END DEFAULT BROWSER STYLE========== */
	/*==========       BASIC CLASSES     ==========*/

	/* ========================================= */
	/* =============SPACE CLASSES============== */
	/* ========================================= */
	.space5{
		margin-top: 5px !important;
	}
	.space10{
		margin-top: 10px !important;
	}
	.space12{
		margin-top: 12px !important;
	}
	.space15{
		margin-top: 15px !important;
	}
	.space20{
		margin-top: 20px !important;
	}
	.space25{
		margin-top: 25px !important;
	}
	.space30{
		margin-top: 30px !important;
	}
	.space40{
		margin-top: 40px;
	}
	.space50{
		margin-top: 50px;
	}
	.space55{
		margin-top: 55px;
	}
	.space60{
		margin-top: 60px;
	}
	.space70{
		margin-top: 70px;
	}
	.space80{
		margin-top: 80px;
	}
	.space100{
		margin-top: 100px;
	}
	/* ========================================= */
	/* =============PADDING CLASSES============== */
	/* ========================================= */
	.pad0{
		padding: 0px !important;
	}
	.pad-left
	{
		padding-left: 0px;
	}
	.pad-right
	{
		padding-right: 0px;
	}
	/* ========================================= */
	/* =============MARGIN CLASSES============== */
	/* ========================================= */
	.mbtm0{
		margin-bottom: 0px !important;
	}
	.mtop0{
		margin-top:0px;
	}
	.mtop10{
		margin-top:10px;
	}
	.mbtm10{
		margin-bottom:10px;
	}
	.mleft10{
		margin-left:10px;
	}
	.mright10{
		margin-right:10px;
	}
	.nomargin
	{
		margin: 0px !important;
	}
	.mauto img{
		margin: 0px auto !important;
	}
	.mautomargin{
		margin: 0px auto !important;
	}
	.font700
	{
		font-weight: 700 !important;
	}
	.square
	{border-radius: 0px;}
	label
	{
		    color: #fff;
	}
	/* ========================================= */
	/* =============COLOR CLASSES============== */
	/* ========================================= */
	a
	{
	color: #5b5b5b;

	}
	.text-white
	{
		color: #ffffff !important;
	}
	.text-black{
		color: #000000 !important;
	}
	.capital
	{
		text-transform: uppercase;
	}
	.underline
	{
		text-decoration: underline;
	}
	/* ========================================= */
	/* =============BUTTON CLASSES============== */
	/* ========================================= */
	/* ============================================ */
	/* ============================================ */
	/* ============================================ */
	a:focus{
	text-decoration: none;
	}
	p {
	    margin: 0 0 2em 0;
	} 
	body a:hover{
		text-decoration: none;
		cursor: pointer;	
	}
	hr {
    	border: 0;
    	border-bottom: solid 1px #c9c9c9;
    	margin: 2em 0;
	}
	h2 {
    	font-size: 1.1em;
	}
	h3 {
    	font-size: 1em;
	}
	h4 {
    	font-size: 0.8em;
	}
	a:focus,.btn:focus,.btn:active:focus,
	button:focus,input[type="file"]:focus, 
	input[type="radio"]:focus, 
	input[type="checkbox"]:focus{
		outline: none;
	}
/*---------- css for header -----------*/

header{
	background: #a3bf61;
}
#header .logo {
    display: block;
    border-bottom: 0;
    color: inherit;
    font-weight: 900;
    letter-spacing: 0.35em;
    margin: 0 0 0;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
#header .logo .symbol {
    margin-right: 0.65em;
}
#header .logo > * {
    display: inline-block;
    vertical-align: middle;
}
#header .logo .symbol img {
    display: block;
    width: 43px;
    height: 43px;
}
#header .logo > * {
    display: inline-block;
    vertical-align: middle;
}
.logo .title{
	text-transform: uppercase;
	font-size: 16pt;
}
.logo .title:hover{
	color: #ff7e30;
}
#header .navbar{
	margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 30px 15px;
}
.navbar-default .navbar-nav > li.active a{
	background: #3a3a3c;
	color: #fff;
}
#header .navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: 0;
}
/*#header	.navbar-default .navbar-nav li a{
	color: #a3bf61;
}*/
#header .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background: #7e943d;
}
.affix {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	background-color: #a3bf61;
}
.affix a{
	color: #fff !important;
	font-weight: 600 !important;
}
.affix a:hover{
	color: #fff !important;
}
#header .affix.navbar-default {
    padding: 0;
    background: #a3bf61;
}
/*-------------css for main-contain --------*/
#main-contain h1 {
    font-size: 2.75em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 1em 0;
    letter-spacing: -0.035em;
}
#main-contain p{
    margin-top: -1em;
}
.tiles article {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
}
.tiles article > .image {
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.tiles article > .image img {
	display: block;
	width: 100%;
}

.tiles article > .image:before {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
	-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
	-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
	transition: background-color 0.5s ease, opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1.0;
	z-index: 1;
	opacity: 0.8;
}

.tiles article > .image:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.25;
	z-index: 2;
}

.tiles article > a {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
	-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
	-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
	transition: background-color 0.5s ease, transform 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
	border-radius: 4px;
	border-bottom: 0;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	z-index: 3;

}
.tiles article > a > :last-child {
	margin: 0;
}

.tiles article > a:hover {
	color: #ffffff !important;
}

.tiles article > a h2 {
	margin: 0;
}

.tiles article > a .content {
	-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
	-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
	-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
	transition: max-height 0.5s ease, opacity 0.5s ease;
	width: 100%;
	max-height: 0;
	line-height: 1.5;
	margin-top: 0.35em;
	opacity: 0;
}

.tiles article > a .content > :last-child {
	margin-bottom: 0;
}

.tiles article.style1 > .image:before {
	background-color: #f2849e;
}
.tiles article.style2 > .image:before {
	background-color: #7ecaf6;
}
.tiles article.style3 > .image:before {
	background-color: #7bd0c1;
}
.tiles article.style4 > .image:before {
	background-color: #c75b9b;
}
.tiles article.style5 > .image:before {
	background-color: #ae85ca;
}
.tiles article.style6 > .image:before {
	background-color: #8499e7;
}
body:not(.is-touch) .tiles article:hover > .image {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
body:not(.is-touch) .tiles article:hover > .image:before {
	background-color: #333333;
	opacity: 0.35;
	}
body:not(.is-touch) .tiles article:hover > .image:after {
	opacity: 0;
}

body:not(.is-touch) .tiles article:hover .content {
	max-height: 15em;
	opacity: 1;
}
* + .tiles {
	margin-top: 1em;
}
body.is-loading .tiles article {
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
body.is-touch .tiles article .content {
	max-height: 15em;
	opacity: 1;
}
.tiles-row{
	margin: 60px 0px;
}
/*-------- css for footer ----------*/
.form-box {
	padding: 5em 0 6em 0 ;
	background-color: #f6f6f6;
}
#footer h2 {
    font-size: 1.1em;
    font-weight: 900;
    line-height: 1.5;
    margin: 0 0 2em 0;
    text-transform: uppercase;
    letter-spacing: 0.35em;
}
/*input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus {
    border-bottom-color: #f2849e;
    box-shadow: inset 0 -1px 0 0 #f2849e;
}*/
.form-control{
	background: transparent;
	box-shadow: inset 0 -1px 0 0 #ccc;
	-webkit-box-shadow: inset 0 -1px 0 0 #ccc;
	border: 0px;
	border-radius: 0px;
	padding: 1px 12px 14px 1px;
    border-bottom: solid 1px #c9c9c9;
}
.form-control:focus{
    border-bottom-color: #a3bf61;
    box-shadow: inset 0 -1px 0 0 #a3bf61;
}
::-webkit-input-placeholder {
	color: #c9c9c9 !important;
	font-size: 20px !important;
	font-weight: 300 !important;
}

:-moz-placeholder { /* Firefox 18- */
	color: #c9c9c9 !important;
	font-size: 20px !important;
	font-weight: 300 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #c9c9c9 !important;
	font-size: 20px !important;
	font-weight: 300 !important;
}
:-ms-input-placeholder {  
	color: #c9c9c9 !important;
	font-size: 20px !important;
	font-weight: 300 !important;
}
label {
    color: #c9c9c9;
    font-weight: 300;
}
.btn-green{
    background: #a3bf61;
    color: #ffffff !important;
    border-color: #a3bf61;
    padding: 16px 25px;
    height: 3.5em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.35em;
	font-size: 17px;
	margin-top: 50px;  
}
.btn-green:hover{
	background: #ff7e30;
}
.pre-footer{
	background: #3a3a3c;
	padding: 20px 0px;
}
.pre-footer a{
	color: #ffffff;
	line-height: 25px;
}
.ft-space{
	position: relative;
    vertical-align: middle;
    top: 5px;
}
.pre-footer a:hover{
	color: #ff7e30;
}
#footer ul {
    margin: 0;
}
/*--------- css for all media queries ----------------*/
@media screen and (max-width: 1280px) {
	.tiles {
		margin: -1.25em 0 0 -1.25em;
	}
	.tiles article {
		width: calc(33.33333% - 1.25em);
		margin: 1.25em 0 0 1.25em;
	}
}
@media screen and (max-width: 980px) {
	.tiles {
		margin: -2.5em 0 0 -2.5em;
	}
	.tiles article {
		width: calc(50% - 2.5em);
		margin: 2.5em 0 0 2.5em;
	}
}
@media screen and (max-width: 736px) {
	.tiles {
		margin: -1.25em 0 0 -1.25em;
	}
	.tiles article {
		width: calc(50% - 1.25em);
		margin: 1.25em 0 0 1.25em;
	}
	.tiles article:hover > .image {
		-moz-transform: scale(1.0);
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}
@media screen and (max-width: 480px) {
	.tiles {
		margin: 0;
	}
	.tiles article {
		width: 100%;
		margin: 1.25em 0 0 0;
	}
}
@media screen and (max-width: 980px){
	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
    	display: none;
	}
}
@media(max-width: 768px){
	.pre-footer a{
		font-size: 20px;
	}
	#main-contain h1{
    	font-size: 1.75em;
	    font-weight: 600;
    	margin: 0 0 1em 0;
	}
    .social_icons ,.pre-footer ul{
	    text-align: center !important;
	}
}
@media screen and (max-width: 360px){
	#main-contain h1 {
    	font-size: 1.05em;
    	font-weight: 600;
	}
}
.git {
  background: #000;
}
 #contact-buttons-bar {
  position: fixed;
  top: 120px;
  left: -50px;
  width: 50px;
}


#contact-buttons-bar.slide-on-scroll {
  position: absolute;
}

.contact-button-link  {
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-bottom: 1px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  background: #8e8e93;
  color: #fff;
  position: relative;
  left: 0;
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  
  -webkit-transition: all 250ms;
     -moz-transition: all 250ms;
          transition: all 250ms;
}
.contact-button-link:hover,
.contact-button-link:focus,
.contact-button-link:active {
  color: #fff;
  padding-left: 20px;
  width: 70px;
}
.contact-button-link.cb-hidden {
  left: -50px;
}
.contact-button-link.facebook {
  background: #3b5998;
}
.contact-button-link.linkedin {
  background: #0077b5;
}
.contact-button-link.gplus {
  background: #db4437;
}

.contact-button-link.separated {
  margin-top: 1em;
}

.show-hide-contact-bar,
.contact-button-link.show-hide-contact-bar:focus,
.contact-button-link.show-hide-contact-bar:active {
  background: transparent;
  color: #000;
  border: 0;
  outline: 0;
  padding: 0;
  width: 50px;
}
.contact-button-link.show-hide-contact-bar:hover {
  color: #000;
  background: #ccc;
  padding: 0;
  width: 50px;
}
h2, h3, h4, h5, h6 {
    font-weight: 900;
    line-height: 1.5;
    margin: 0 0 2em 0;
    text-transform: uppercase;
    letter-spacing: 0.35em;
}
/*-------- css for element page ----------*/
blockquote {
    border-left: solid 4px #c9c9c9;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}
pre {
    -webkit-overflow-scrolling: touch;
    font-size: 0.9em;
    margin: 0 0 2em 0;
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px; 
    border: solid 1px #c9c9c9; 
}
pre code {
    display: block;
    line-height: 1.75;
    padding: 0px 1.5em;
    overflow-x: auto;
}
.btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    height: 3.5em;
    letter-spacing: 0.35em;
    line-height: 3.45em;
    overflow: hidden;
    padding: 0 1.25em 0 1.6em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
.default{
	background: transparent;
	color: #a3bf61 !important;
	box-shadow: inset 0 0 0 2px #a3bf61;
}
.default:hover {
    color: #fff!important;
    background: #a3bf61;
    box-shadow: inset 0 0 0 2px #a3bf61;
}
.special{
	    background-color: #a3bf61;
}
.special:hover {
    background-color: #ff7e30;
}
.btn.btn-sm {
    font-size: 0.6em;
}

.diff-btn li {
    padding: 1em 0 0 0;
}
ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}
ul.alt li {
    border-top: solid 1px #c9c9c9;
    padding: 0.5em 0;
}
a{
  color: #a3bf61;
}
a:hover{
	color: #667143;
}
.social_icons {
    text-align: right;
    margin-top: 10px !important;
}
.social_icons li a{
 	width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    transition: all 0.25s ease-in-out;

}
.social_icons li a:hover {
    color: #fff;
    background: #a3bf61;
    border-color: #a3bf61;
}
.icon.style2 {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    background-color: transparent;
    border: solid 1px #a3bf61;
    color: #a3bf61;
    border-radius: 4px;
    width: 2.65em;
    height: 2.65em;
    padding: 0px 20px;
    display: inline-block;
    text-align: center;
    line-height: 2.65em;
    color: inherit;

}
.icon.style2:hover {
    color: #667143;
    border-color:#667143;
}
.fit{
	width: 100%;
}
.disabled{
	-moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
}
input[type="checkbox"], input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"]:checked + label:before,input[type="radio"]:checked + label:before {
    background: #585858;
    border-color: #585858;
    color: #ffffff;
    content: '\f00c';
    font-family: 'fontawesome';
}

input[type="radio"] + label:before {
    border-radius: 100%;
}
input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    border-radius: 4px;
    border: solid 1px #c9c9c9;
    content: '';
    display: inline-block;
    height: 1.8em;
    left: 0;
    line-height: 1.725em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.8em;
}
input[type="radio"] + label:before {
    border-radius: 100%;
}
input[type="checkbox"] + label, input[type="radio"] + label {
    text-decoration: none;
    color: #585858;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.55em;
    padding-right: 0.75em;
    position: relative;
}
input[type="checkbox"], input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}
.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}
.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.left, .image.right {
    max-width: 40%;
}
.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}
.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}
@media(max-width: 530px){
	.image.left,.image.right {
		float: none;
		padding: 0px;
		top: 0px;
	}
	.image.left img,.image.right img{
		width: 100%;
	}
}

span.image.main img {
	max-width: 1140px;
	height: auto;
	width: 100%;
}